<html ng-app="procrast">
<head>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="app/css/main.css" />
</head>
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavigationController" >
<div class="container">
  <div ng-show="!loggedIn">
    <input type="text" ng-model = "login.email" />
    <input type="password" ng-model="login.password"/>
    <button ng-click="logUserIn()">Login</button>
    <a ui-sref="signUp">Create a new account</a>
  </div>
  <div ng-show="loggedIn">
    <a ui-sref="editProfile">Edit Your Profile</a>&nbsp;&nbsp;&nbsp;<a ng-click="logOut()">Logout</a>
  </div>
</div>
</nav>
<body>
<div ui-view></div>

</body>
<!-- core libraries -->
<script src="node_modules/angular/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js"></script>
<script src="app/app.js"></script>

<!-- angular libraries -->
<script src="app/signup/signup-controller.js"></script>
<script src="app/signup/navigation-controller.js"></script>
<script src="app/profile/profile-controller.js"></script>
<script src="app/home/home-controller.js"></script>

<!-- Upload libraries -->

<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>


</html>
